form{
    text-align: left;
}


#bookingTable td, th{
    border: 2px solid #989898;
    width: 10em;
    text-align: center;
}

img{
    float: right;
}

.datein{
    width: 3em;
}

.button{
    margin-right: 5px;
    margin-top: 5px;
}
