form{
    text-align: left;
}


table {
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid white;
}

.booked{
    background-color: red;
}

img{
    float: right;
}

.datein{
    width: 3em;
}

.button{
    margin-right: 5px;
    margin-top: 5px;
}
