{% extends "baseFrame.html" %}
{% block title %}Ongar Bell|Book{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="static/css/Book.css" />{% endblock %}
{% block content %}
<h2>Request a Reservation</h2>
<form action="processBooking" method="post">
    Name:<br /><input type="text" name="name" /><br />
    e-mail:<br /> <input type="text" name="email" /><br />
    Date format : DD/MM/YYYY<br />
    Start date:<br /><input type="text" name="startDateDay" class="datein" />/<input type="text" name="startDateMonth" class="datein" />/<input type="text" name="startDateYear" class="datein" /><br />
    End date:<br /><input type="text" name="endDateDay" class="datein" />/<input type="text" name="endDateMonth" class="datein" />/<input type="text" name="endDateYear" class="datein" /><br />
    <input type="submit" value="Submit request" class="button"/>
    <input type="reset" value="Reset form" class="button" />
</form>
<br /><br /><br /><br /><br />
<h2>Dates already booked</h2>
{% if bookList|length != 0 %}
<div id="bookingTable">

    <table>
    {% for booking in bookList %}
        {% if booking[4] == 'TRUE' %}
            <tr>
                <td>{{ booking[0] }}</td>

                <td>{{ booking[1] }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
</div>
{% endif %}
{% endblock %}
